#container
{
	 margin:auto;	 
	 width:895px;
	 background:red;
	 min-height:50px;
}

header
{
	min-height:100px;
	background:pink;
}

nav
{
   	min-height:45px;
	background:red;
}

#content
{
	min-height:350px;
	background:green;
}
.recycle
{
	padding:15px 10px;
	margin:10px 15px;
	min-height:310px;
	background:blue; 
	width:200px;
	float:left;
	box-sizing:border-box;
}
.services
{
	min-height:310px;
	background:yellow; 
	margin:10px 15px;
	width:250px;
	float:left;
}

.company
{
	margin:10px 15px;
	min-height:310px;
	background:#11f4aa; 
	width:250px;
	float:left;
}

footer
{
	min-height:40px;
	background:silver; 
}











