#body
{
	width:1348px;
	min-height:1500px;
	margin:auto;
	background-color:pink;
	overflow:auto;
}
#header
{
	background-color:green;
	min-height:40px;
}
#content
{
	margin:0px 134px 0px 134px;   
	min-height:1600px;
	width:1080px;
	background-color:yellow;
	box-sizing:border-box;
	overflow:auto;
}

header
{
	background-color:orange;
	min-height:200px;
}

nav
{
	background-color:lightgreen;
	min-height:40px;
}

#new
{
	margin:20px 20px 116px 12px;
	min-height:900px;
	background-color:blue;
	width:761px;
	float:left;
}

.product1
{
	min-height:220px;
	width:735px;
	margin:15px 26px 21px 12px;
	padding:3px 0px 0px 3px;
	background-color:gray;
	float:left;
	box-sizing:border-box;
}

.product2
{
	clear:both;
	min-height:220px;
	width:735px;
	margin:0px 18px 20px 12px;
	padding:3px 0px 0px 3px;
	background-color:white;
	float:left;
	box-sizing:border-box;
}
.galerry
{
	clear:both;
	float:none;
	padding:3px 0px 0px 3px;
	margin:550px 26px 21px 26px;
	width:700px;
	min-height:450px;
	background-color:lightgreen;
	box-sizing:border-box;
}
#sidebar
{
	min-height:700px;
	margin:20px 12px 116px 8px;
	float:right;
	width:252px;
	background-color:blue;
	box-sizing:border-box;
}

.popular
{
	float:left;
	background-color:red;
	width:230px;
	min-height:230px;
	margin:10px 10px;
	padding:3px 0px 0px 3px;
	box-sizing:border-box;
	
}
.promolion
{
	clear:both;
	float:left;
	background-color:green;
	width:230px;
	min-height:221px;
	margin:10px 10px;
	padding:3px 0px 0px 3px;
	box-sizing:border-box;
}
.method
{
    clear:both;
	float:left;
	background-color:orange;
	width:230px;
	min-height:221px;
	margin:10px 10px;
	padding:3px 0px 0px 3px;
	box-sizing:border-box;
}
footer
{
	clear:both;
	min-height:309px;
	width:1017px;
	margin-right:31px;
	margin-left:31px;
	background-color:green;
	box-sizing:border-box;
}

.visit
{
	width:339px;
	min-height:309px;
	float:left;
	background-color:orange;
	padding:3px 0px 0px 3px;
	box-sizing:border-box;
}

.help
{
	width:339px;
	min-height:309px;
	float:left;
	background-color:blue;
	padding:3px 0px 0px 3px;
	box-sizing:border-box;
}

.join
{
	width:339px;
	min-height:309px;
	float:left;
	background-color:pink;
	padding:3px 0px 0px 3px;
	box-sizing:border-box;
}
#footer
{
	clear:both;
	background-color:red;
	min-height:50px;
	margin-left:0px;
	width:1348px;
	box-sizing:border-box;
}
